#root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: #302e2b;
  /* Dark background */
  color: #c5c5c5;
  /* Light text for page (headers etc) */
  font-family: 'Segoe UI', system-ui, sans-serif;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border-radius: 4px;
}